@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

.pokemonCard {
  @apply rounded bg-red-500 h-fit w-52 p-3;
}

.pokemonCard.expanded {
  @apply fixed top-0 left-0 w-[70%] h-[70%] inset-0 mx-auto my-auto grid grid-rows-[auto_auto_1fr] justify-items-center z-50;
}

.pokemonCardImg {
  @apply w-full bg-white rounded-none transition-none duration-500 ease-in-out;
}

.pokemonCard.expanded .pokemonCardImg {
  @apply rounded-full w-52 h-52 transition-all;
}

.pokemonCardTitle {
  @apply block w-fit mx-auto text-xl mt-2 transition-all duration-500 ease-in-out;
}

.pokemonCard.expanded .pokemonCardTitle {
  @apply font-semibold text-3xl w-fit mx-auto;
}

.pokemonCardContent {
  @apply transition-opacity duration-1000 ease-out;
}
.pokemonCard .pokemonCardContent {
  @apply opacity-0 invisible h-0;
}

.pokemonCard.expanded .pokemonCardContent {
  @apply block w-full  bg-white mt-4 overflow-y-scroll text-3xl h-auto visible opacity-100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
